:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.about_1{
  margin: auto;
  text-align: left;
  width: 80%;
  justify-content: center;
}
#site_use{
  border: 3px solid lightgray;
  padding-bottom: 30px;
}
#behind_site{
  border: 3px solid lightgray;
  padding-bottom: 30px;
  position: relative;
  top:-3px;
}
.centered-container{
  background-color: #666666;
  
}

.button-deals{
  background-color: #82a417;
}
.button-deals:hover{
  background-color: darkgreen;
}